html
   head
      title Home page
      style
         include ./style.css
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
   body
      include ./navbar.pug 
      .container
        img(src="https://upload.wikimedia.org/wikipedia/fr/6/6b/EST_New_Logo_2012.png" alt="est" width="350" height="250")
        h3 Home Page
        p Hello Hello Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae perspiciatis provident excepturi adipisci, ea placeat iure, recusandae eius dignissimos sapiente corporis vel consequuntur cum laboriosam aliquid quia, corrupti pariatur. Sequi!
        p
         | Pug is a terse and simple
         | templating language with a
         | strong focus on performance
         | and powerful features.
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")